<!doctype html>
<html data-ng-app="YouTubeAlarm">
  <head>
    <meta charset="utf-8"> 
    <title>YouTubeAlarm.com</title>
    <meta name="author" content="Rafael Bravo">
    <meta name="author" content="YouTubeAlarm.com is a alarm clock using YouTube videos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body data-ng-controller="VideosController">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=269444089742192";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header>
      <h1>YouTube<strong>Alarm</strong>.com</h1>
      <form id="search" data-ng-submit="search()">
        <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
        <input id="submit" type="image" src="search.png" alt="Search">
      </form>
      <span id="alarm">
        {{alarmVideo.title}}
        <input type="text" ng-model="alarm" data-mask="99:99:99"/>
      </span>
      <span id="clock">
        {{nowTime}}
      </span>
    </header>
    <div id="results">
      <div class="video" data-ng-repeat="video in results" data-ng-click="setAlarm(video.id, video.title)">
        <img class="video-image" data-ng-src="{{ video.thumbnail }}">
        <p class="video-title">{{ video.title }}</p>
        <p class="video-author">{{ video.author }}</p>
        <p class="video-description">{{ video.description }}</p>
      </div>
    </div>
    <div id="player">
      <div id="placeholder"></div>
    </div>
    <div id="playlist">
      <p style="margin-bottom:2px;padding:15px;">Share your favorite videos with other users:</p>
      <div class="fb-comments" data-href="http://www.facebook.com/pages/YouTubeAlarmcom/127694740628844" data-numposts="5" height="270" width="100%" data-colorscheme="dark"></div>
    </div>
    <!-- <div id="playlist">
      <p id="current">{{ youtube.videoTitle }}</p>
      <ol id="upcoming" data-ng-show="playlist">
        <li data-ng-repeat="video in upcoming">
          <p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
          <p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <ol id="history" data-ng-hide="playlist">
        <li data-ng-repeat="video in history">
          <p class="item-delete" data-ng-click="delete('history', video.id)">delete</p>
          <p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
        </li>
      </ol>
      <p id="tabs">
        <a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
        <a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
      </p>
    </div>-->
    <footer>
      YouTubeAlarm.com by <a href="http://github.com/rbravo/">Rafael Bravo</a>! <span style="font-size:13px;">Thanks to JukeTube from <a href="http://jgthms.com">J. Thomas</a></span>.
      <div class="fblike"><div class="fb-like" data-href="http://www.youtubealarm.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></div>
      <em></em>
    </footer> 
    <script src="angular.min.js"></script>
    <script src="angular-local-storage.js"></script>
    <script src="jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="jquery.maskedinput-1.2.2.js" type="text/javascript"></script>
    <script src="app.js"></script>
  </body>
</html>
